* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer-container {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-container {
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
}
.inner-container img {
    height: 60%;
    width: 90%;
    border-radius: 10px;
}
.inner-container h2 {
    font-size: 1.3rem;
}